body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





[ng-click],
[data-ng-click] {
    cursor: pointer;
}




#side {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 20%;
    background-color: #eee;
    overflow: auto;
}

#content {
    position: absolute;
    top: 50px;
    left: 20%;
    bottom: 0;
    right: 0;
    overflow: auto;
}

#articles {
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    height: 200px;
    overflow: auto;
}

#articles .unread {
    font-weight: bold;
}

#article {
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
