<div class="jumbotron">
    <h1>Reader</h1>
    <p class="lead">Reader is the best feed aggregator and it's free!! Create your account today!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add your feeds</h2>
        <p>
            Add unlimited feeds to your account, read all the article from a single location and save your working day!
        </p>
        <p><a class="btn btn-default" href="/account/register">Get started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Read articles</h2>
        <p>Read the articles in a distraction free website, mark your articles as read, so you'll never read an article twice (unless you need to!).</p>
        <p><a class="btn btn-default" href="/account/register">Get started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Save them for later</h2>
        <p>Star your best articles to quiclky access them when you need them!</p>
        <p><a class="btn btn-default" href="/account/register">Get started &raquo;</a></p>
    </div>
</div>
