<div>
    <div>
        <ul class="feedTools">
            <li data-ng-click="openAdd()">Add Subscription</li>
            <li data-ng-click="toggleMaintenance()" data-ng-hide="maintenance">Manage Subscriptions</li>
            <li data-ng-click="toggleMaintenance()" data-ng-show="maintenance">Done</li>
        </ul>
    </div>
    <div data-ng-show="adding">
        <div>Feed Url</div>
        <input type="text" data-ng-model="addModel.Url" />
        <div>
            <button data-ng-click="add()">Add</button>
            <button data-ng-click="closeAdd()">Cancel</button>
        </div>
    </div>
    <div>
        Show: <select data-ng-model="filter" data-ng-options="filter for filter in filters"></select>
    </div>
    <ul class="feedList">
        <li data-ng-repeat="sub in subscriptions">
            <a class="glyphicon glyphicon-remove" aria-hidden="true"  data-ng-click="removeSubscription(sub)" data-ng-show="maintenance && sub.Id"></a>
            <a data-ng-click="selectSubscription(sub)">{{sub.Title || sub.Url}}</a>
        </li>
    </ul>
</div>